## Build outputs
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.suo
*.suo.tmp

## IDEs
.idea/
.vscode/

## OS Metadata
Thumbs.db
ehthumbs.db
Desktop.ini

## Installer and Release Packages
WinCleanerSetup.exe
WinCleanerSetup.zip
*.zip
Releases/*.exe
Releases/*.zip


